div.bx-livechat-wrapper {
  display: none;
}

div.b24-widget-button-inner-container {
  display: none;
}

button.bx-livechat-control-btn-close {
  display: none;
}

.kp-widget-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 56px;
  height: 56px;
  background: #de210b;
  border-radius: 50%;
  cursor: pointer;
}

.kp-widget-button-inner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.kp-widget-close-button {
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20d%3D%22M11%201L1%2011M1%201l10%2010%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23FFF%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.9%22/%3E%3C/svg%3E') center no-repeat;
  width: 12px;
  z-index: 3;
  padding: 24px 22px 24px 14px;
  position: relative;
  cursor: pointer;
  transition: opacity .3s;
  opacity: .6;
  margin: 0;
  border: 0;
}

div.kp-widget-show {
  display: block;
}

.kp-widget-hidden {
  display: none;
}