/* BX ipmortants */

:root {
  --ui-font-family-helvetica: 'Inter', sans-serif !important;
}

div.bx-livechat-wrapper {
  display: none;
  font-family: 'Inter', sans-serif;
  border-radius: 12px;
}

div.b24-widget-button-inner-container {
  display: none;
}

button.bx-livechat-control-btn-close {
  display: none;
}

div.bx-livechat-control-box {
  position: absolute;
  right: 0;
  top: 0;
}

div.bx-livechat-head {
  height: 130px !important;
  align-items: center;
  justify-content: center;
  background-image: url(../img/pattern.png);
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: center;
}

div.bx-livechat-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

div.bx-livechat-copyright {
  display: none;
}

div.bx-livechat-body {
  background-color: #F5F5F5;
  background-image: none;
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.bx-livechat-box {
  background-color: #de210b;
}

div.bx-livechat-textarea {
  background-color: #fff;
}

div.bx-livechat-help-user {
  display: none;
}

h2.bx-livechat-help-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

div.bx-livechat-help-subtitle {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
}

div.bx-im-textarea {
  border-top: none;
}

textarea.bx-im-textarea-input {
  font-size: 12px;
}

div.bx-im-dialog-list-item-name-reference {
  font-size: 12px;
}

div.bx-livechat-user-icon {
  margin: 0;
}

button.bx-livechat-control-btn.bx-livechat-control-btn-menu {
  position: absolute;
  right: 32px;
  top: 1px;
}

/* Chat */

span.bx-im-message-content-text {
  font-size: 12px;
}

div.bx-im-message-content {
  padding: 8px 12px;
  background-color: #fff;
}

span.bx-im-message-content-box {
  padding: 0;
}

div.bx-im-dialog-group-date {
  font-size: 12px;
  font-weight: 300;
  background-color: #787878;
}

div.bx-livechat-user-position {
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

/* KP */

.kp-widget-button {
  position: fixed;
  right: 50px;
  bottom: 50px;
  width: 56px;
  height: 56px;
  background: #de210b;
  border-radius: 50%;
  cursor: pointer;
}

.kp-widget-button-inner {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 56px;
}

.kp-widget-close-button {
  background: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20d%3D%22M11%201L1%2011M1%201l10%2010%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%20stroke%3D%22%23FFF%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%20stroke-width%3D%221.9%22/%3E%3C/svg%3E') center no-repeat;
  width: 12px;
  z-index: 3;
  padding: 24px 22px 24px 14px;
  position: relative;
  cursor: pointer;
  transition: opacity .3s;
  opacity: .6;
  margin: 0;
  border: 0;
  position: absolute;
  right: 0;
  top: 0;
}

div.kp-widget-show {
  display: block;
}

.kp-widget-hidden {
  display: none;
}

.kp-widget-header__subtitle {
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 72%);
  text-align: center;
}

.kp-widget-avatars {
  display: none;
}